.App {
	text-align: center;
}


.App-header {
	background-color: #C1D8C3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.img-fluid {
	height: auto;
	max-width: 80%;
}

body {
	background-color: #C1D8C3;
}
/* headers */
h1,
h2 {
	text-align: center;
}
h3{
	color:#065f63;
	font-weight: 900;
	font-size: 2vw;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* button design */

.btn-primary {
	background-color: #49beb6;
	/* height: 50px;
	width: 150px; */
	border-radius: 10px;
	font-weight: 500;
	font-size: 2vw;
}

.btn-primary:hover {
	background-color: #065f63;
	color: white;
	font-weight: 700;
	border-radius: 5px;
}

.btn-select{
	background-color: transparent;
	border: none;
	height: 40px;
	width: 120px;
	font-weight: 700;
	font-size: 3vw;
}
.btn-select:hover{
	background-color: transparent;
	border: none;
	color: green;
	font-weight: 700;
	font-size: 4vw;
}

.show-recipe{
	background-color: #49beb6;
	border-radius: 10px;
	padding: 3px;

}

/* images on home page */

img{
	display: flex;
	padding-top: 10px;
}

/* divs */

.recipe-display{
	padding-top: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.description p{
	color: #065f63;
	padding-left: 40px;
	padding-right: 40px;
}


